*.pyc
*.swp
/.installed.cfg
/.plone.versioncheck.tracked.json
/bin
/collective.elephantvocabulary.egg-info
/coverage
/develop-eggs
/dist
/docs
/eggs
/include
/lib
/nixenv
/.coverage
/htmlcov/
/parts/
